// Results wrap
.wpls--results-wrap {
	opacity:0;
}

// Input Wrap
#wpls--input-wrap {
	position:relative;
}

// The Input
#wpls--input {
	height:$input--height;
}

// List of posts
#wpls--post-list {
	list-style:none;
	margin:0;
	padding:0;
	background:$color--main;

	li {
		padding:0;
		margin:0;
	}

	a {
		line-height:1;
		display:block;
		text-decoration:none;
		border:none;
		padding:$spacing--sm;
	}

	.wpls--item-title {
		margin:5px auto;
	}
}

// Item Link
.wpls--link {
	@include clearfix();

	&:hover {
		background:$color--item-hover;
	}
}

// Item image
.wpls--item-image {
	float:left;
	max-width:$spacing--lg;
	margin-right:$spacing--sm;
}

// Item title
.wpls--item-title {
	display:inline-block;
	overflow:hidden;
	width:auto;
}

// Character helper
#wpls--helper {
	position:absolute;
	right:7px;
	top:7px;
	font-size:$helper--size;
	padding:3px 8px;
	background:$color--accent;
	color:white;
	border-radius:2px;
	font-family:Arial;
}