// Wrapper
#wp-search {

}

// Results wrap
.wp-search--results-wrap {
	opacity:0;
}

// Results text
#wp-search--results {

}

// Input Wrap
#wp-search--input-wrap {
	position:relative;
}

// List of posts
#wp-search--post-list {
	list-style:none;
	margin:0;
	padding:0;

	li {
		padding:0;
		margin:0;
	}

	a {
		line-height:1;
		display:block;
		text-decoration:none;
		border:none;
		padding:$spacing--sm;
	}

	.wp-search--item-title {
		margin:5px auto;
	}
}

// The Item
.wp-search--item {
	@include clearfix();
}

// Item image
.wp-search--item-image {
	float:left;
	max-width:50px;
	margin-right:$spacing--sm;
}

// Item title
.wp-search--item-title {
	display:inline-block;
	overflow:hidden;
}