
.wpls--loading {
    height:20px;
    width:20px;
    position:absolute;
    top:0;
    right:$spacing--sm;
    opacity:0;
}


.wpls--loader {
    height:20px;
    width:20px;
    margin:10px auto;
    position:relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:3px solid transparentize($color--loader,.5);
    border-right:3px solid transparentize($color--loader,.5);
    border-bottom:3px solid transparentize($color--loader,.5);
    border-top:3px solid $color--accent;
    border-radius:100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}