// Wrapper
#wp-search {

}

// Results wrap
.wp-search--results-wrap {
	opacity:0;
}

// Results text
#wp-search--results {

}

// Input Wrap
#wp-search--input-wrap {
	position:relative;
}

// List of posts
#wp-search--post-list {
	background:$color--main;
}

// Item Link
.wp-search--link {

	&:hover {
		background:$color--item-hover;
	}
}

// Character helper
#wp-search--helper {
	background:$color--accent;
	color:white;
	border-radius:2px;
	font-family:Arial;
}