// Wrapper
#wp-search {

}

// Results wrap
.wp-search--results-wrap {
	opacity:0;
}

// Results text
#wp-search--results {

}

// Input Wrap
#wp-search--input-wrap {
	position:relative;
}

// List of posts
#wp-search--post-list {
	background:$color--main;
}

// The Item
.wp-search--item {

	&:hover {
		background:$color--item-hover;
	}
}