// Structure
$spacing:    			20px;
$spacing--sm:    		$spacing / 2;
$spacing--lg:     		$spacing * 2;

// Colors
$color--main:   		#EAEAEA;
$color--dark:        	darken($color--main,7);
$color--accent:   		#007AAB;
$color--item-hover:  	lighten($color--main,4);
$color--loader:      	$color--dark;